<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>SPOT - Free Bootstrap 3 Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.snippet.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.snippet.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script>
<script type="text/javascript">$.SyntaxHighlighter.init();</script>

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">JD<i class="fa fa-circle"></i>CS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li class="active"><a href="/service">SERVICES</a></li>
            <li><a href="works.html">WORKS</a></li>
            <li><a href="mailto:someone@example.com"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>








<div class="row">
  <div class="col-md-6">

<br>
<iframe src="gov.uscourts.cacd.543744.246.0.pdf" style="width:800px; height:700px;" frameborder="0"></iframe>
<br><br>

<iframe src="gov.uscourts.cand.218079.291.0.pdf" style="width:800px; height:700px;" frameborder="0"></iframe>
<br><br>

<iframe src="gov.uscourts.flmd.296475.8.0.pdf" style="width:800px; height:700px;" frameborder="0"></iframe>
<br><br>

<iframe src="gov.uscourts.flsd.435371.17.0.pdf" style="width:800px; height:700px;" frameborder="0"></iframe>


  </div>
  <div class="col-md-6">
<br>


<pre class="highlight">
    {
    "Case number": "2:12-cv-08333-ODW-JC",
    "Document number": "246",
    "Date filed": "11/13/13",
    "Court": "CENTRAL DISTRICT OF CALIFORNIA",
    "Plaintiff": "INGENUITY 13 LLC",
    "Defendant": "JOHN DOE",
    "Title": "",
    "Full text": "         On November 7, 2013, the Ninth Circuit remanded this case for the limited\n   purpose of enabling this Court to consider Movant Brett L. Gibbs’ Motion to Vacate\n   Monetary Sanctions. (ECF Nos. 244, 245.) The remand was in response to this\n   Court’s Order Granting Motion for Indicative Ruling pursuant to Federal Rule of Civil\n   Procedure 62.1(a)(3). (ECF No. 243.) Accordingly, the Court now considers Gibbs’\n   Motion to Vacate May 6, 2013 Sanctions. (ECF Nos. 240, 244.)\n         Gibbs is specifically asking this Court to vacate his joint and several liability for\n   the monetary sanctions imposed in the Court’s May 6, 2013 Order. (ECF No. 130.)\n   After carefully considering the papers filed in support of and in opposition to the\n   Motion to Vacate Sanctions (ECF Nos. 240, 241, 244), the Court hereby GRANTS\n   the Motion. Gibbs’ joint and several liability for the monetary sanctions imposed in\n   the May 6, 2013 Order is VACATED. The Court’s decision is based on Gibbs’s\n   dissociation with the Prenda parties.     This order has no effect on non-monetary\n   sanctions nor does this order affect the other parties subject to sanctions in the May 6,\n   2013 Order.\n         IT IS SO ORDERED.\n         November 13, 2013\n                                ____________________________________\n                                         OTIS D. WRIGHT, II\n                                 UNITED STATES DISTRICT JUDGE\n"
}
</pre>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<pre class="highlight">
  {
    "Case number": "4:09-cv-03329-CW",
    "Document number": "291",
    "Date filed": "08/08/14",
    "Court": "NORTHERN DISTRICT OF CALIFORNIA",
    "Plaintiff": "EDWARD O’BANNON, et al.",
    "Defendant": "ASSOCIATION; ELECTRONIC ARTS\nINC.; and COLLEGIATE LICENSING\nCOMPANY",
    "Title": "INTRODUCTION ",
    "Full text": "                                 INTRODUCTION\n        Competition takes many forms.     Although this case raises\n   questions about athletic competition on the football field and the\n   basketball court, it is principally about the rules governing\n   competition in a different arena -- namely, the marketplace.\n        Plaintiffs are a group of current and former college student-\n   athletes.   They brought this antitrust class action against the\n   National Collegiate Athletic Association (NCAA) in 2009 to\n   challenge the association’s rules restricting compensation for\n   elite men’s football and basketball players.       In particular,\n   Plaintiffs seek to challenge the set of rules that bar student-\n   athletes from receiving a share of the revenue that the NCAA and\n   its member schools earn from the sale of licenses to use the\n   student-athletes’ names, images, and likenesses in videogames,\n   live game telecasts, and other footage.      Plaintiffs contend that\n   these rules violate the Sherman Antitrust Act.       The NCAA denies\n   this charge and asserts that its restrictions on student-athlete\n"
}
</pre>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<pre class="highlight">
 {
    "Case number": "8:14-cv-00869-SDM-EAJ",
    "Document number": "8",
    "Date filed": "08/14/14",
    "Court": "MIDDLE DISTRICT OF FLORIDA",
    "Plaintiff": "MALIBU MEDIA, LLC",
    "Defendant": "JOHN DOE",
    "Title": "ORDER ",
    "Full text": "        On April 14, 2014, the plaintiff sued (Doc. 1) the defendant. Rule 4(m),\n  Federal Rules of Civil Procedure, allows the plaintiff 120 days from the filing of the\n  complaint to serve the defendant. The time for the plaintiff to serve the defendant\n  expired on August 12, 2014. On August 12, 2014, the plaintiff moved (Doc. 7) for an\n  extension of time to serve the defendant. Under Rule 4(m), Federal Rules of Civil\n  Procedure, an extension is granted only if the plaintiff can “show good cause for the\n  failure” to serve.\n        The plaintiff’s motion fails to show good cause. For example, the plaintiff\n  states, “Plaintiff issued [a] subpoena on or about May 6, 2014, and received the ISP’s\n  response on June 26, 2014.” (Doc. 7 at 1) Also, the motion states:\n               Through the course of Plaintiff’s initial investigation of the\n               information provided by the ISP, Plaintiff has reason to believe\n              that the infringer is not the subscriber of the internet service, but\n              another individual residing at the subscriber’s home. Plaintiff is in\n              the process of contacting the Defendant to better determine the\n              identity of the infringer.\n  (Doc. 7 at 1) Forty-seven days passed between the ISP’s response and the deadline to\n  serve the defendant. The plaintiff’s generic explanation fails to offer sufficient\n  information to determine whether the plaintiff pursued this action with due diligence.\n        Although the plaintiff fails to “show good cause for the failure,” “Rule 4(m)\n  requires that, before the court may dismiss for failure to serve, the plaintiff must be\n  given notice of the possibility of dismissal and afforded an opportunity to show good\n  cause for the failure to serve.” Moore’s Federal Practice, Vol. 1, § 48.1[2] (3d ed. 2013).\n  No later than AUGUST 21, 2014, the plaintiff must show why this action should not\n  be dismissed. In the response, the plaintiff must account for all 120 days.\n        ORDERED in Tampa, Florida, on August 14, 2014.\n"
}
</pre>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<pre class="highlight">
{
   "Case number":"1:14-cv-20393-CMA",
   "Document number":"17",
   "Date filed":"06/10/2014",
   "Court":"SOUTHERN DISTRICT OF FLORIDA",
   "Plaintiff":"MALIBU MEDIA, LLC",
   "Defendant":"JOHN DOE subscriber assigned IP address\n66.176.59.75",
   "Title":"PLAINTIFF’S MEMORANDUM IN OPPOSITION TO DEFENDANT’S OMNIBUS MOTION TO DISMISS ACTION WITH MOTION TO QUASH NON-PARTY SUBPOENAS OR ENTER PROTECTIVE ORDER WITH INCORPATED MEMORANDUM OF LAW ",
   "Full text":"     I.       INTRODUCTION\n           Defendant John Doe’s Omnibus Motion to Dismiss Action With Motion to Quash Non-\n  Party Subpoenas or Enter Protective Order, With Incorporated Memorandum of Law (CM/ECF\n  9) (“the Motion”) should be denied. Defendant has failed to articulate any reason under Fed. R.\n  Civ. P. 45 to quash the subpoena. While Defendant correctly asserts that Malibu Media, LLC\n  (“Malibu”) paid IPP International UG (“IPP”), who is not licensed by the State of Florida as an\n  investigator, for its data collection services, Defendant erroneously argues that the physical\n  evidence obtained by IPP is inadmissible and therefore this Court should quash the subpoena,\n  vacate its previous order, and dismiss the case. Neither paying a service provider to record\n  computer data nor the failure of a service provider to have a license is a basis under the Federal\n  Rules of Evidence to exclude relevant evidence or for any of the relief Defendant requests.\n  Further, Defendant’s reliance on Judge Ungaro’s opinion fails to account that Plaintiff pled a\n  plausible claim that Defendant is the infringer.      Defendant does not dispute that venue is\n  improper, nor provide an affidavit or any evidence that would support that theory. For all the\n  foregoing reasons, as more fully explained below, Defendant’s Motion should be denied.\n     II.      FACTUAL BACKGROUND\n           A. Online Copyright Infringement Through the BitTorrent Protocol is a Serious and\n              Significant Threat to Plaintiff’s Business\n           Plaintiff, Malibu Media LLC, brings its lawsuit against Defendant in good faith in order\n  to stop ongoing, long term, copyright infringement. Colette Pelissier Field, with her husband\n  Brigham Field, are the owners of Malibu Media and began their business from scratch. See\n  CM/ECF 6-1 at ¶3. Ms. Field was a real estate agent and Mr. Field was a photographer. Id. at ¶\n  4. When the real estate market started heading south, Ms. Field knew she and her husband\n  needed to start a business together. Id. at ¶ 5. The Fields both felt that there was a lack of adult\n  content that was beautiful and acceptable for women and couples. Id. at ¶ 6. The Fields wanted\n  to create this type of content to satisfy what they hoped was an unfulfilled demand. Id. Their\n  goal was to create erotica that is artistic and beautiful. Id. at ¶ 7. The Fields chose the name ‘X-\n  Art’ to reflect their artistic aspirations, and began investing all of their available money and\n  resources into the production of content – particularly erotic movies with high production value\n  and a cinematic quality. Id. at ¶ 8.\n           Their vision has come to fruition.     Currently, X-Art.com has tens of thousands of\n"
}
</pre>


























  </div>



</div>





  <!-- FOOTER -->
  <div id="f">
    <div class="container">
      <div class="row centered">
        <a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>

      </div><!-- row -->
    </div><!-- container -->
  </div><!-- Footer -->


  <!-- MODAL FOR CONTACT -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">contact us</h4>
        </div>
        <div class="modal-body">
            <div class="row centered">
              <p>We are available 24/7, so don't hesitate to contact us.</p>
              <p>
                Somestreet Ave, 987<br/>
            London, UK.<br/>
            +44 8948-4343<br/>
            hi@blacktie.co
              </p>
              <div id="mapwrap">
    <iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=2&amp;output=embed"></iframe>
          </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
